.home-page{
	margin-right: 20px;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	column-gap: 10px;
	row-gap: 30px;
	padding-top: 68px;
	padding-bottom: 1000px;
	padding-left: 80px;
}

@media (max-width: 700px){
	.home-page{
		grid-template-columns: 1fr 1fr;
	}
}

@media (min-width: 1001px){
	.home-page{
		grid-template-columns: 1fr 1fr 1fr 1fr;
	}
}


.video-thumbnail{
	width: 100%;
}

.video-info{
	display: grid;
	grid-template-columns: 40px 1fr;
	column-gap: 5px;
}

.channel-logo{
	width: 100%;
	border-radius: 40px;
}

.info{
	margin-left: 8px;
}

.channel-info, .views{
	color: gray;
}

.channel-info{
	margin-top: 15px;
}