.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 60px;
  padding: 10px 0;
}

.leftSection {
  height: 100%;
  display: flex;
  vertical-align: middle;
  min-width: 100px;
}

img {
  height: 100%;
  margin: 10px 0;
}

.burger {
  margin: 10px 24px;
}

.middleSection {
  flex: 1;
  max-width: 800px;
  align-items: center;
  justify-content: space-around;
  background-color: blue;
}

.rightSection {
  min-width: 200px;
  background-color: gray;
}
